ALTER TABLE applications ADD COLUMN IF NOT EXISTS surname TEXT, ADD COLUMN IF NOT EXISTS first_name TEXT, ADD COLUMN IF NOT EXISTS middle_name TEXT, ADD COLUMN IF NOT EXISTS lga TEXT, ADD COLUMN IF NOT EXISTS olevel_status TEXT;
